
	html, body, .container-fluid, .content-row {
	    height: 100%;
	}
 

.card {
    background-color: #2c61a5;
}

.fa-sun-o {
    color: yellow;
}

.hide {
    display: none;
}

.card-input {
color:white
}
#clear-data {
    color:white
}
.card-title {
    color: white;
}
.navbar {
    background-color: #2c61a5;
    color: white;
}
span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}